# General
ENV=DEV

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USER=webapp-template
DATABASE_PASSWORD=webapp-template
DATABASE_DB_NAME=webapp-template

DATABASE_POOL_SIZE=5
DATABASE_ECHO=False

# LLM
LLM_API_URL=https://www.apiurl.com
LLM_API_KEY=api-key
LLM_MODEL=your-model

# Auth
AUTH_STANDARD_ON=True
AUTH_APPLE_ON=False
AUTH_GOOGLE_ON=False
AUTH_STRAVA_ON=False